<mat-accordion class="menu-items" multi="true">
  @for (menu of menuList; track $index) { @if(menu.menus.length === 0){
  <a
    mat-list-item
    #link
    (click)="!preview ? goRoute(menu, link) : null"
    class="menu-link no-child route-link"
  >
    <mat-icon>{{ menu.icono ? menu.icono : "adjust" }}</mat-icon>
    <span>{{ menu.nombre }} </span>
  </a>
  }

  <!-- Profundidad 2 -->
  @if(menu.menus.length > 0){
  <mat-expansion-panel [expanded]="openCascade">
    <mat-expansion-panel-header>
      <mat-panel-title class="menu-link">
        <mat-icon
          [ngStyle]="{ 'padding-left': getSize() }"
          style="font-size: 1.4rem"
        >
          {{ menu.icono ? menu.icono : "adjust" }}
        </mat-icon>
        <span class="expansion-text">
          {{ menu.nombre }}
        </span>
      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-nav-list>
      @for (submenu of menu.menus; track submenu) {
      <a
        mat-list-item
        #link
        (click)="!preview ? goRoute(submenu, link) : null"
        class="route-link"
        *ngIf="submenu.menus.length === 0"
      >
        <mat-icon [ngStyle]="{ 'padding-left': getSize() }">
          {{ submenu.icono ? submenu.icono : "adjust" }}
        </mat-icon>
        <span>{{ submenu.nombre }} </span>
      </a>

      @if(submenu.menus.length > 0){
      <app-menu-navigation
        [menuList]="[submenu]"
        [preview]="preview"
        [childAccordeon]="true"
        [paddingL]="paddingL + 10"
      ></app-menu-navigation>

      } }
    </mat-nav-list>
  </mat-expansion-panel>
  }
  <mat-divider *ngIf="!childAccordeon"></mat-divider>
  }
</mat-accordion>
